.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.content {
    display: grid;
}

.success-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}