.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    img {
        height: auto;
        width: 90%;
    }
}

.content {
    display: grid;
}

.login-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

p {
    color: #BA1A1A;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}