.principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;

    .card {
        width: 250px;
        cursor: pointer;

        mat-card {
            box-sizing: border-box;
            transition: box-shadow 0.3s ease;

            .title {
                display: flex;
                width: 100%;
                justify-content: center;
                
                b {
                    text-align: center;
                }
            }

            .body {
                display: flex;
                width: 100%;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                margin-top: 20px;
            }
        }

        mat-card:hover {
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        }
    }
}

.custom-warn-text {
    color: #BA1A1A;
}

.custom-primary-text {
    color: #005cbb;
}

.icon-delete {
    position: absolute;
    right: 0px;
    top: 0px;
}

.icon-edit {
    position: absolute;
    left: 0px;
    top: 0px;
}

.spacer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 50px;
    padding-top: 30px;
}