<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="innclod-banner.png" alt="Banner de Innclod">
        <span class="spacer"></span>
        <button mat-icon-button class="avatar-button" [matMenuTriggerFor]="userMenu">
            <ngx-avatars size="40" [value]="initials"> </ngx-avatars>
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon color="warn">exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>